.OverRideLink {
  text-decoration: none;
  color: black;
}

.NavBarBrand{
  font-size: 1.5em;
  color: #007bff;
}
.NavBarBrand:hover{
  text-decoration: none;
}

.User{
  color: #007bff;
  font-size: 1.3em;
}

.StickyNav {
  position: sticky;
  top:0;
}