<button type="button" class="btn btn-primary btn-sm" onclick="return alert('You can only edit your own comment')">Edit Comment</button>
<button type="button" class="btn btn-primary btn-sm" onclick="return alert('You can only delete your own comment')">Delete Comment</button>