
<%= link_to like_posts_path(post_id: post.id), method: :post, class: "like_post_test" do %>
  <% @likePosts = LikePost.where(user_id: current_user.id, post_id: post.id).length %>
  <% if @likePosts == 0 %>
    <i id="like-btn" class="fa fa-heart unlike fa-2x"></i>
  <% else %>
    <i id="unlike-btn" class="fa fa-heart like fa-2x"></i>
  <% end %>
<% end %> 

<div>
  <span id="like-count"><%= LikePost.where(post_id: post.id).length %></span> Likes
</div> 